# EDA Turismo en España

### Librerias utilizadas

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

### Import DataSet

### DataSet Principal

In [3]:
turismo = pd.read_excel("./data/tourism_dataset.xlsx")

### Reorganizacion del Dataset:
* **Columnas**: Se restablece el nombre de las columnas, con el nombre de las comunidades autonomas.
* **Indices**: Los indices son los meses y años

In [4]:
turismo = turismo.set_index(turismo.columns[0]).transpose()

In [5]:
#Comprobacion del Dataset:
turismo

,01 Andalucía,04 Almería,11 Cádiz,14 Córdoba,18 Granada,21 Huelva,23 Jaén,29 Málaga,41 Sevilla,02 Aragón,...,31 Navarra,16 País Vasco,01 Araba/Álava,48 Bizkaia,20 Gipuzkoa,"17 Rioja, La","26 Rioja, La",18 Ceuta,19 Melilla,Total Nacional
2025M02,1210103,64254,127353,81664,220647,37989,39187,368010,270998,217078,...,55332,230365,28309,101349,100707,34531,34531,5242,4330,6539960
2025M01,983971,36982,100095,76019,188585,22418,33075,269769,257029,178779,...,48807,206997,28451,86738,91808,29651,29651,5044,3927,5776075
2024M12,1105005,48389,123395,80679,192332,35037,41265,292539,291370,204922,...,67780,250596,36791,112602,101203,34518,34518,5255,4156,6553489
2024M11,1278048,49231,140183,99847,208244,47220,48020,369692,315609,207513,...,74629,278580,35718,127597,115264,42997,42997,5178,4864,7171221
2024M10,1838241,101499,251255,110866,265193,76257,58439,602997,371736,272448,...,100130,349844,43124,157974,148746,56863,56863,3920,5285,10774309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999M05.5,2000268,217067,233806,63918,185433,45767,13289,1033073,207915,37186,...,16577,70201,9621,25733,34846,11952,11952,2362,1305,15682588
1999M04.5,1738989,122023,192676,62215,187567,35056,13244,921404,204805,27712,...,11586,64795,7804,29603,27387,7917,7917,2059,1668,10350825
1999M03.5,1396400,116549,137098,39586,149387,37433,9216,758353,148778,34378,...,7365,44006,6095,21003,16908,3907,3907,3613,1673,8364216
1999M02.5,942113,118444,68544,18625,96391,20251,4481,524335,91043,34562,...,5398,33581,5099,16965,11517,2666,2666,2312,1487,6931021
1999M01.5,802728,111629,52873,14039,79506,3643,5738,451525,83777,22917,...,7272,29136,4532,13582,11022,1749,1749,3170,1148,6390210

In [6]:
turismo = pd.DataFrame(turismo)

In [14]:
turismo

,01 Andalucía,04 Almería,11 Cádiz,14 Córdoba,18 Granada,21 Huelva,23 Jaén,29 Málaga,41 Sevilla,02 Aragón,...,31 Navarra,16 País Vasco,01 Araba/Álava,48 Bizkaia,20 Gipuzkoa,"17 Rioja, La","26 Rioja, La",18 Ceuta,19 Melilla,Total Nacional
2025M02,1210103.00,64254.00,127353.00,81664.00,220647.00,37989.00,39187.00,368010.00,270998.00,217078.00,...,55332.00,230365.00,28309.00,101349.00,100707.00,34531.00,34531.00,5242.00,4330.00,6539960.00
2025M01,983971.00,36982.00,100095.00,76019.00,188585.00,22418.00,33075.00,269769.00,257029.00,178779.00,...,48807.00,206997.00,28451.00,86738.00,91808.00,29651.00,29651.00,5044.00,3927.00,5776075.00
2024M12,1105005.00,48389.00,123395.00,80679.00,192332.00,35037.00,41265.00,292539.00,291370.00,204922.00,...,67780.00,250596.00,36791.00,112602.00,101203.00,34518.00,34518.00,5255.00,4156.00,6553489.00
2024M11,1278048.00,49231.00,140183.00,99847.00,208244.00,47220.00,48020.00,369692.00,315609.00,207513.00,...,74629.00,278580.00,35718.00,127597.00,115264.00,42997.00,42997.00,5178.00,4864.00,7171221.00
2024M10,1838241.00,101499.00,251255.00,110866.00,265193.00,76257.00,58439.00,602997.00,371736.00,272448.00,...,100130.00,349844.00,43124.00,157974.00,148746.00,56863.00,56863.00,3920.00,5285.00,10774309.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999M05.5,2000268.00,217067.00,233806.00,63918.00,185433.00,45767.00,13289.00,1033073.00,207915.00,37186.00,...,16577.00,70201.00,9621.00,25733.00,34846.00,11952.00,11952.00,2362.00,1305.00,15682588.00
1999M04.5,1738989.00,122023.00,192676.00,62215.00,187567.00,35056.00,13244.00,921404.00,204805.00,27712.00,...,11586.00,64795.00,7804.00,29603.00,27387.00,7917.00,7917.00,2059.00,1668.00,10350825.00
1999M03.5,1396400.00,116549.00,137098.00,39586.00,149387.00,37433.00,9216.00,758353.00,148778.00,34378.00,...,7365.00,44006.00,6095.00,21003.00,16908.00,3907.00,3907.00,3613.00,1673.00,8364216.00
1999M02.5,942113.00,118444.00,68544.00,18625.00,96391.00,20251.00,4481.00,524335.00,91043.00,34562.00,...,5398.00,33581.00,5099.00,16965.00,11517.00,2666.00,2666.00,2312.00,1487.00,6931021.00
1999M01.5,802728.00,111629.00,52873.00,14039.00,79506.00,3643.00,5738.00,451525.00,83777.00,22917.00,...,7272.00,29136.00,4532.00,13582.00,11022.00,1749.00,1749.00,3170.00,1148.00,6390210.00

### Despues de la comprobacion del Dataset, hacemos un .Dtypes y el resultado es de "object" los cuales debemos convertir a "float", para poder trabajar con los numeros

In [7]:
turismo.dtypes

01 Andalucía      object
04 Almería        object
11 Cádiz          object
14 Córdoba        object
18 Granada        object
                   ...
17 Rioja, La      object
26 Rioja, La      object
18 Ceuta          object
19 Melilla        object
Total Nacional    object
Length: 70, dtype: object

In [8]:
for col in turismo.columns:
    turismo[col] = pd.to_numeric(turismo[col], errors="coerce") #Esto convierte algunos valores a float y otros a int.

turismo = turismo.astype(float) #Convierte el restante a float para asegurar que todos los datos tengan el mismo tipo.

In [9]:
turismo.dtypes
# print(turismo.select_dtypes(include=["object"]).columns)
# print(turismo.dtypes.to_string())

01 Andalucía      float64
04 Almería        float64
11 Cádiz          float64
14 Córdoba        float64
18 Granada        float64
                   ...
17 Rioja, La      float64
26 Rioja, La      float64
18 Ceuta          float64
19 Melilla        float64
Total Nacional    float64
Length: 70, dtype: object

In [18]:
turismo.to_csv('./data/datos_turismo.csv')

### DataSet Tipologia

In [10]:
# tipologia = pd.read_csv('./data/tipologia_viaje - tabla-10821.csv', delimiter=",")  
tipologia = pd.read_excel("./data/tipologia_viaje.xlsx")
tipologia = tipologia.set_index(tipologia.columns[0])

for tipo in tipologia.columns:
    tipologia[tipo] = pd.to_numeric(tipologia[tipo], errors="coerce") #Esto convierte algunos valores a float y otros a int.

pd.set_option("display.float_format", "{:.2f}".format)
# tipologia = tipologia.astype(float)

In [11]:
tipologia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries,     Dato base to     Tasa de variación acumulada
Columns: 112 entries, 2025M01 to 2015M10
dtypes: float64(112)
memory usage: 12.4+ KB

In [19]:
tipologia.to_csv('./data/datos_tipologia.csv')

In [12]:
motivo = pd.read_excel("./data/motivo_viaje.xlsx")
motivo = motivo.set_index(motivo.columns[0])

for col in motivo.columns:
    motivo[col] = pd.to_numeric(motivo[col], errors="coerce") #Esto convierte algunos valores a float y otros a int.

pd.set_option("display.float_format", "{:.2f}".format)

In [13]:
motivo

,2025M01,2024M12,2024M11,2024M10,2024M09,2024M08,2024M07,2024M06,2024M05,2024M04,...,2016M07,2016M06,2016M05,2016M04,2016M03,2016M02,2016M01,2015M12,2015M11,2015M10
,,,,,,,,,,,,,,,,,,,,,
Dato base,5065094.00,5264375.00,5670219.00,8961932.00,9602015.00,10929584.00,10852347.00,9299574.00,9255985.00,7783750.00,...,9545792.00,7552758.00,7111154.00,6086327.00,4627206.00,3678726.00,3526537.00,3512914.00,3754802.00,6432341.00
Tasa de variación anual,6.06,1.06,10.41,9.47,9.17,7.30,7.27,11.94,11.51,7.69,...,9.99,12.89,8.19,11.59,15.45,13.95,11.04,7.92,10.56,8.89
Acumulado en lo que va de año,5065094.00,93759297.00,88494922.00,82824703.00,73862771.00,64260756.00,53331172.00,42478825.00,33179251.00,23923266.00,...,42128500.00,32582708.00,25029951.00,17918796.00,11832469.00,7205263.00,3526537.00,NaN,NaN,NaN
Tasa de variación acumulada,6.06,10.09,10.67,10.69,10.84,11.10,11.91,13.16,13.51,14.30,...,11.42,11.85,11.54,12.93,13.64,12.50,11.04,NaN,NaN,NaN
"Ocio, recreo y vacaciones",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,4119870.00,4257518.00,4622268.00,7796628.00,8474002.00,10156706.00,9894693.00,8081685.00,8070902.00,6528656.00,...,8664754.00,6591364.00,6078190.00,4921015.00,3747057.00,2814264.00,2671999.00,2631906.00,2926298.00,5311088.00
Tasa de variación anual,5.08,1.99,10.53,11.41,7.94,8.13,7.25,11.11,10.96,5.45,...,10.64,11.13,6.01,8.82,17.97,8.19,5.02,-1.39,3.98,4.48
Acumulado en lo que va de año,4119870.00,81049012.00,76791494.00,72169226.00,64372598.00,55898597.00,45741890.00,35847197.00,27765513.00,19694610.00,...,35488643.00,26823889.00,20232525.00,14154335.00,9233320.00,5486263.00,2671999.00,NaN,NaN,NaN
Tasa de variación acumulada,5.08,9.86,10.33,10.32,10.19,10.54,11.08,12.19,12.51,13.16,...,9.74,9.45,8.91,10.20,10.96,6.62,5.02,NaN,NaN,NaN
"Negocio, motivos profesionales",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,244325.00,287335.00,463667.00,525253.00,567884.00,152920.00,338706.00,578622.00,520685.00,517288.00,...,303483.00,442129.00,478728.00,459199.00,387761.00,441059.00,347876.00,301888.00,393014.00,469568.00
Tasa de variación anual,7.72,2.61,6.49,-13.43,13.93,-0.54,-0.35,14.28,12.67,24.38,...,-22.95,-1.56,4.43,0.26,-18.07,45.23,21.84,33.18,33.91,10.87
Acumulado en lo que va de año,244325.00,5148452.00,4861117.00,4397450.00,3872197.00,3304313.00,3151393.00,2812687.00,2234065.00,1713379.00,...,2860235.00,2556752.00,2114623.00,1635895.00,1176696.00,788935.00,347876.00,NaN,NaN,NaN
Tasa de variación acumulada,7.72,6.68,6.93,6.98,10.52,9.95,10.52,11.99,11.41,11.03,...,1.36,5.30,6.86,7.59,10.75,33.89,21.84,NaN,NaN,NaN
Otros motivos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,700898.00,719521.00,584284.00,640051.00,560130.00,619957.00,618949.00,639267.00,664398.00,737805.00,...,577555.00,519265.00,554236.00,706113.00,492388.00,423403.00,506662.00,579120.00,435490.00,651685.00
Tasa de variación anual,11.61,-4.65,12.76,9.90,25.40,-3.05,12.35,21.12,17.67,18.78,...,27.32,67.55,45.47,48.96,37.29,30.88,46.29,61.09,51.05,62.72
Acumulado en lo que va de año,700898.00,7561833.00,6842312.00,6258028.00,5617976.00,5057847.00,4437889.00,3818941.00,3179674.00,2515276.00,...,3779622.00,3202067.00,2682802.00,2128566.00,1422453.00,930065.00,506662.00,NaN,NaN,NaN
Tasa de variación acumulada,11.61,15.13,17.70,18.18,19.20,18.56,22.37,24.16,24.79,26.81,...,42.78,45.98,42.43,41.67,38.30,38.85,46.29,NaN,NaN,NaN

In [20]:
motivo.to_csv('./data/datos_motivo.csv')

In [4]:
pais = pd.read_excel("./data/Gasto_segun_paisxlsx.xlsx")
pais = pais.set_index(pais.columns[0])

for b in pais.columns:
    pais[b] = pd.to_numeric(pais[b], errors="coerce") #Esto convierte algunos valores a float y otros a int.

pd.set_option("display.float_format", "{:.2f}".format)

In [5]:
pais

,2025M01,2024M12,2024M11,2024M10,2024M09,2024M08,2024M07,2024M06,2024M05,2024M04,...,2016M07,2016M06,2016M05,2016M04,2016M03,2016M02,2016M01,2015M12,2015M11,2015M10
,,,,,,,,,,,,,,,,,,,,,
Gasto total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,7132.04,7590.34,7707.67,11898.70,12613.05,15364.42,15513.29,12356.78,11686.91,9488.10,...,10238.54,7817.41,6917.93,5627.99,4624.47,3706.27,3737.26,3773.27,3872.84,6280.63
Reino Unido,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,1096.09,1096.36,1156.75,2124.25,2451.03,3025.96,2846.60,2481.75,2193.70,1585.78,...,2197.01,1766.61,1495.25,1153.23,924.02,690.25,608.99,731.74,659.06,1336.41
Países Nórdicos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,618.36,628.90,687.40,785.42,598.42,522.26,1041.21,614.17,513.16,589.36,...,817.74,418.73,384.16,463.99,536.79,473.38,493.27,426.94,469.27,526.16
Resto del Mundo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,3798.51,3918.73,3996.30,6000.79,6441.72,7101.10,7890.93,6615.82,6187.35,4693.01,...,4547.45,3651.79,3117.13,2415.05,1981.14,1629.28,1739.33,1740.17,1773.86,2626.53
Alemania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,792.47,950.14,956.05,1666.19,1651.34,1661.18,1662.93,1372.98,1413.55,1400.08,...,1328.19,1180.99,1106.14,811.79,709.67,474.44,469.04,419.04,512.06,1022.25
Francia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,545.10,602.87,581.98,912.22,1018.55,2172.06,1496.80,831.51,987.65,851.98,...,974.50,529.10,607.96,596.41,288.39,288.49,275.22,283.86,319.66,579.09
Italia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,281.50,393.33,329.21,409.83,451.99,881.85,574.82,440.54,391.51,367.89,...,373.65,270.19,207.29,187.51,184.46,150.42,151.41,171.52,138.93,190.18
Gasto medio por persona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,1408.00,1442.00,1359.00,1328.00,1314.00,1406.00,1429.00,1329.00,1263.00,1219.00,...,1073.00,1035.00,973.00,925.00,999.00,1007.00,1060.00,1074.00,1031.00,976.00
Reino Unido,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,1270.00,1219.00,1156.00,1188.00,1200.00,1428.00,1384.00,1163.00,1147.00,1089.00,...,1014.00,846.00,833.00,810.00,873.00,857.00,880.00,965.00,855.00,855.00
Países Nórdicos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,1721.00,1767.00,1711.00,1420.00,1366.00,1609.00,1669.00,1404.00,1331.00,1468.00,...,1245.00,1022.00,1070.00,1160.00,1195.00,1187.00,1260.00,1258.00,1291.00,1036.00
Resto del Mundo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,1634.00,1751.00,1601.00,1620.00,1532.00,1646.00,1666.00,1626.00,1560.00,1468.00,...,1313.00,1397.00,1307.00,1204.00,1251.00,1314.00,1364.00,1441.00,1372.00,1271.00
Alemania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,1473.00,1524.00,1470.00,1276.00,1257.00,1338.00,1336.00,1209.00,1146.00,1232.00,...,1025.00,966.00,928.00,937.00,962.00,981.00,1000.00,1045.00,1004.00,958.00
Francia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,850.00,781.00,775.00,791.00,929.00,1019.00,929.00,823.00,772.00,751.00,...,644.00,642.00,573.00,550.00,524.00,543.00,582.00,501.00,528.00,600.00
Italia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,830.00,1047.00,890.00,898.00,891.00,1104.00,993.00,859.00,819.00,806.00,...,831.00,685.00,648.00,611.00,742.00,686.00,670.00,715.00,657.00,725.00
Gasto medio diario por persona,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,165.00,159.00,178.00,191.00,195.00,189.00,196.00,197.00,205.00,185.00,...,131.00,136.00,142.00,130.00,131.00,129.00,122.00,116.00,130.00,120.00
Reino Unido,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,161.00,166.00,169.00,173.00,181.00,190.00,198.00,169.00,184.00,177.00,...,124.00,114.00,121.00,111.00,110.00,104.00,97.00,84.00,111.00,105.00
Países Nórdicos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,165.00,151.00,166.00,176.00,190.00,166.00,185.00,162.00,171.00,153.00,...,121.00,135.00,138.00,138.00,131.00,135.00,135.00,130.00,133.00,137.00
Resto del Mundo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,193.00,191.00,223.00,239.00,237.00,222.00,228.00,244.00,248.00,224.00,...,164.00,172.00,185.00,176.00,169.00,162.00,153.00,161.00,162.00,165.00
Alemania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,138.00,149.00,157.00,169.00,172.00,177.00,171.00,176.00,178.00,167.00,...,123.00,124.00,127.00,110.00,117.00,115.00,102.00,103.00,117.00,102.00
Francia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,103.00,98.00,98.00,122.00,122.00,135.00,132.00,130.00,141.00,126.00,...,83.00,93.00,96.00,86.00,89.00,97.00,85.00,80.00,81.00,73.00
Italia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,138.00,104.00,148.00,135.00,162.00,180.00,167.00,145.00,185.00,151.00,...,111.00,121.00,116.00,125.00,106.00,101.00,101.00,86.00,124.00,104.00
Duración media de los viajes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,8.55,9.05,7.62,6.95,6.73,7.46,7.29,6.75,6.16,6.59,...,8.20,7.60,6.86,7.11,7.62,7.81,8.70,9.25,7.95,8.12
Reino Unido,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,7.89,7.35,6.82,6.85,6.63,7.52,6.99,6.89,6.24,6.15,...,8.19,7.44,6.87,7.32,7.91,8.21,9.10,11.54,7.67,8.13
Países Nórdicos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,10.43,11.68,10.32,8.06,7.20,9.72,9.02,8.66,7.80,9.57,...,10.28,7.58,7.76,8.43,9.12,8.78,9.35,9.68,9.71,7.57
Resto del Mundo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,8.48,9.18,7.19,6.79,6.48,7.42,7.31,6.66,6.29,6.55,...,8.03,8.14,7.08,6.84,7.42,8.09,8.91,8.95,8.48,7.68
Alemania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,10.65,10.26,9.39,7.56,7.30,7.58,7.83,6.86,6.44,7.36,...,8.35,7.82,7.29,8.51,8.21,8.53,9.79,10.18,8.59,9.39
Francia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,8.24,7.94,7.91,6.51,7.62,7.55,7.06,6.34,5.49,5.95,...,7.78,6.91,5.96,6.37,5.88,5.61,6.88,6.30,6.51,8.22
Italia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,6.02,10.11,6.02,6.67,5.52,6.13,5.95,5.92,4.42,5.32,...,7.47,5.67,5.60,4.87,7.03,6.80,6.65,8.30,5.31,6.97

In [6]:
pais.to_csv('./data/datos_gasto_pais.csv')

In [7]:
sector = pd.read_excel("./data/Gasto_por_sector.xlsx")
sector = sector.set_index(sector.columns[0])

for c in sector.columns:
    sector[c] = pd.to_numeric(sector[c], errors="coerce") #Esto convierte algunos valores a float y otros a int.

pd.set_option("display.float_format", "{:.2f}".format)

In [8]:
sector

,2022(A),2021(P),2020,2019,2018,2017,2016
,,,,,,,
A: Productos característicos del turismo,61483.70,24481.70,15345.60,58853.00,56185.20,53153.90,47704.10
1A: Hoteles y similares,17406.10,7168.60,4004.60,19430.40,17852.30,15792.90,14177.20
1B: Servicios de alquiler inmobiliario,5797.70,2276.40,764.90,5289.20,5124.40,5066.90,4277.10
2: Servicios de provisión de alimentos y bebidas,10653.80,4419.10,2329.70,10380.10,10393.50,10054.50,9123.30
3: Servicios de transporte de pasajeros por ferrocarril,937.10,260.80,167.90,600.90,979.20,1045.40,874.90
4: Servicios de transporte de pasajeros por carretera,1421.50,674.40,365.70,1365.20,1770.90,1816.70,1642.00
5: Servicios de transporte de pasajeros por agua,463.30,66.70,79.60,281.20,333.10,384.60,329.60
6: Servicios de transporte aéreo de pasajeros,7645.20,2408.00,3111.80,6005.60,6034.50,5675.30,4886.90
7: Servicios de alquiler de equipos de transporte,2283.50,1079.30,531.90,1456.60,695.10,684.00,666.00
8: Agencias de viajes y otros servicios de reserva,1357.20,419.80,538.40,1608.50,1452.80,1882.90,1819.90
9: Servicios culturales,7572.50,2760.50,1658.20,5732.10,5619.40,5274.50,4570.70
10: Servicios deportivos y recreativos,5945.70,2948.20,1793.00,6703.10,5929.80,5476.30,5336.50
B: Otros productos no característicos,22931.60,14047.80,10555.80,23872.40,22881.30,23035.50,20966.00
TOTAL,84415.30,38529.50,25901.40,82725.40,79066.50,76189.40,68670.10

In [9]:
sector.to_csv('./data/datos_sector.csv')