# EDA Turismo en España

### Librerias utilizadas

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random

### Import DataSet

### DataSet Principal

In [3]:
turismo = pd.read_excel("./data/tourism_dataset.xlsx")

### Reorganizacion del Dataset:
* **Columnas**: Se restablece el nombre de las columnas, con el nombre de las comunidades autonomas.
* **Indices**: Los indices son los meses y años

In [4]:
turismo = turismo.set_index(turismo.columns[0]).transpose()

In [5]:
#Comprobacion del Dataset:
turismo

,01 Andalucía,04 Almería,11 Cádiz,14 Córdoba,18 Granada,21 Huelva,23 Jaén,29 Málaga,41 Sevilla,02 Aragón,...,31 Navarra,16 País Vasco,01 Araba/Álava,48 Bizkaia,20 Gipuzkoa,"17 Rioja, La","26 Rioja, La",18 Ceuta,19 Melilla,Total Nacional
2025M02,1210103,64254,127353,81664,220647,37989,39187,368010,270998,217078,...,55332,230365,28309,101349,100707,34531,34531,5242,4330,6539960
2025M01,983971,36982,100095,76019,188585,22418,33075,269769,257029,178779,...,48807,206997,28451,86738,91808,29651,29651,5044,3927,5776075
2024M12,1105005,48389,123395,80679,192332,35037,41265,292539,291370,204922,...,67780,250596,36791,112602,101203,34518,34518,5255,4156,6553489
2024M11,1278048,49231,140183,99847,208244,47220,48020,369692,315609,207513,...,74629,278580,35718,127597,115264,42997,42997,5178,4864,7171221
2024M10,1838241,101499,251255,110866,265193,76257,58439,602997,371736,272448,...,100130,349844,43124,157974,148746,56863,56863,3920,5285,10774309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999M05.5,2000268,217067,233806,63918,185433,45767,13289,1033073,207915,37186,...,16577,70201,9621,25733,34846,11952,11952,2362,1305,15682588
1999M04.5,1738989,122023,192676,62215,187567,35056,13244,921404,204805,27712,...,11586,64795,7804,29603,27387,7917,7917,2059,1668,10350825
1999M03.5,1396400,116549,137098,39586,149387,37433,9216,758353,148778,34378,...,7365,44006,6095,21003,16908,3907,3907,3613,1673,8364216
1999M02.5,942113,118444,68544,18625,96391,20251,4481,524335,91043,34562,...,5398,33581,5099,16965,11517,2666,2666,2312,1487,6931021
1999M01.5,802728,111629,52873,14039,79506,3643,5738,451525,83777,22917,...,7272,29136,4532,13582,11022,1749,1749,3170,1148,6390210

In [6]:
turismo = pd.DataFrame(turismo)

In [14]:
turismo

,01 Andalucía,04 Almería,11 Cádiz,14 Córdoba,18 Granada,21 Huelva,23 Jaén,29 Málaga,41 Sevilla,02 Aragón,...,31 Navarra,16 País Vasco,01 Araba/Álava,48 Bizkaia,20 Gipuzkoa,"17 Rioja, La","26 Rioja, La",18 Ceuta,19 Melilla,Total Nacional
2025M02,1210103.00,64254.00,127353.00,81664.00,220647.00,37989.00,39187.00,368010.00,270998.00,217078.00,...,55332.00,230365.00,28309.00,101349.00,100707.00,34531.00,34531.00,5242.00,4330.00,6539960.00
2025M01,983971.00,36982.00,100095.00,76019.00,188585.00,22418.00,33075.00,269769.00,257029.00,178779.00,...,48807.00,206997.00,28451.00,86738.00,91808.00,29651.00,29651.00,5044.00,3927.00,5776075.00
2024M12,1105005.00,48389.00,123395.00,80679.00,192332.00,35037.00,41265.00,292539.00,291370.00,204922.00,...,67780.00,250596.00,36791.00,112602.00,101203.00,34518.00,34518.00,5255.00,4156.00,6553489.00
2024M11,1278048.00,49231.00,140183.00,99847.00,208244.00,47220.00,48020.00,369692.00,315609.00,207513.00,...,74629.00,278580.00,35718.00,127597.00,115264.00,42997.00,42997.00,5178.00,4864.00,7171221.00
2024M10,1838241.00,101499.00,251255.00,110866.00,265193.00,76257.00,58439.00,602997.00,371736.00,272448.00,...,100130.00,349844.00,43124.00,157974.00,148746.00,56863.00,56863.00,3920.00,5285.00,10774309.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1999M05.5,2000268.00,217067.00,233806.00,63918.00,185433.00,45767.00,13289.00,1033073.00,207915.00,37186.00,...,16577.00,70201.00,9621.00,25733.00,34846.00,11952.00,11952.00,2362.00,1305.00,15682588.00
1999M04.5,1738989.00,122023.00,192676.00,62215.00,187567.00,35056.00,13244.00,921404.00,204805.00,27712.00,...,11586.00,64795.00,7804.00,29603.00,27387.00,7917.00,7917.00,2059.00,1668.00,10350825.00
1999M03.5,1396400.00,116549.00,137098.00,39586.00,149387.00,37433.00,9216.00,758353.00,148778.00,34378.00,...,7365.00,44006.00,6095.00,21003.00,16908.00,3907.00,3907.00,3613.00,1673.00,8364216.00
1999M02.5,942113.00,118444.00,68544.00,18625.00,96391.00,20251.00,4481.00,524335.00,91043.00,34562.00,...,5398.00,33581.00,5099.00,16965.00,11517.00,2666.00,2666.00,2312.00,1487.00,6931021.00
1999M01.5,802728.00,111629.00,52873.00,14039.00,79506.00,3643.00,5738.00,451525.00,83777.00,22917.00,...,7272.00,29136.00,4532.00,13582.00,11022.00,1749.00,1749.00,3170.00,1148.00,6390210.00

### Despues de la comprobacion del Dataset, hacemos un .Dtypes y el resultado es de "object" los cuales debemos convertir a "float", para poder trabajar con los numeros

In [7]:
turismo.dtypes

01 Andalucía      object
04 Almería        object
11 Cádiz          object
14 Córdoba        object
18 Granada        object
                   ...
17 Rioja, La      object
26 Rioja, La      object
18 Ceuta          object
19 Melilla        object
Total Nacional    object
Length: 70, dtype: object

In [8]:
for col in turismo.columns:
    turismo[col] = pd.to_numeric(turismo[col], errors="coerce") #Esto convierte algunos valores a float y otros a int.

turismo = turismo.astype(float) #Convierte el restante a float para asegurar que todos los datos tengan el mismo tipo.

In [9]:
turismo.dtypes
# print(turismo.select_dtypes(include=["object"]).columns)
# print(turismo.dtypes.to_string())

01 Andalucía      float64
04 Almería        float64
11 Cádiz          float64
14 Córdoba        float64
18 Granada        float64
                   ...
17 Rioja, La      float64
26 Rioja, La      float64
18 Ceuta          float64
19 Melilla        float64
Total Nacional    float64
Length: 70, dtype: object

In [18]:
turismo.to_csv('./data/datos_turismo.csv')

### DataSet Tipologia

In [10]:
# tipologia = pd.read_csv('./data/tipologia_viaje - tabla-10821.csv', delimiter=",")  
tipologia = pd.read_excel("./data/tipologia_viaje.xlsx")
tipologia = tipologia.set_index(tipologia.columns[0])

for tipo in tipologia.columns:
    tipologia[tipo] = pd.to_numeric(tipologia[tipo], errors="coerce") #Esto convierte algunos valores a float y otros a int.

pd.set_option("display.float_format", "{:.2f}".format)
# tipologia = tipologia.astype(float)

In [11]:
tipologia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14 entries,     Dato base to     Tasa de variación acumulada
Columns: 112 entries, 2025M01 to 2015M10
dtypes: float64(112)
memory usage: 12.4+ KB

In [19]:
tipologia.to_csv('./data/datos_tipologia.csv')

In [12]:
motivo = pd.read_excel("./data/motivo_viaje.xlsx")
motivo = motivo.set_index(motivo.columns[0])

for col in motivo.columns:
    motivo[col] = pd.to_numeric(motivo[col], errors="coerce") #Esto convierte algunos valores a float y otros a int.

pd.set_option("display.float_format", "{:.2f}".format)

In [13]:
motivo

,2025M01,2024M12,2024M11,2024M10,2024M09,2024M08,2024M07,2024M06,2024M05,2024M04,...,2016M07,2016M06,2016M05,2016M04,2016M03,2016M02,2016M01,2015M12,2015M11,2015M10
,,,,,,,,,,,,,,,,,,,,,
Dato base,5065094.00,5264375.00,5670219.00,8961932.00,9602015.00,10929584.00,10852347.00,9299574.00,9255985.00,7783750.00,...,9545792.00,7552758.00,7111154.00,6086327.00,4627206.00,3678726.00,3526537.00,3512914.00,3754802.00,6432341.00
Tasa de variación anual,6.06,1.06,10.41,9.47,9.17,7.30,7.27,11.94,11.51,7.69,...,9.99,12.89,8.19,11.59,15.45,13.95,11.04,7.92,10.56,8.89
Acumulado en lo que va de año,5065094.00,93759297.00,88494922.00,82824703.00,73862771.00,64260756.00,53331172.00,42478825.00,33179251.00,23923266.00,...,42128500.00,32582708.00,25029951.00,17918796.00,11832469.00,7205263.00,3526537.00,NaN,NaN,NaN
Tasa de variación acumulada,6.06,10.09,10.67,10.69,10.84,11.10,11.91,13.16,13.51,14.30,...,11.42,11.85,11.54,12.93,13.64,12.50,11.04,NaN,NaN,NaN
"Ocio, recreo y vacaciones",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,4119870.00,4257518.00,4622268.00,7796628.00,8474002.00,10156706.00,9894693.00,8081685.00,8070902.00,6528656.00,...,8664754.00,6591364.00,6078190.00,4921015.00,3747057.00,2814264.00,2671999.00,2631906.00,2926298.00,5311088.00
Tasa de variación anual,5.08,1.99,10.53,11.41,7.94,8.13,7.25,11.11,10.96,5.45,...,10.64,11.13,6.01,8.82,17.97,8.19,5.02,-1.39,3.98,4.48
Acumulado en lo que va de año,4119870.00,81049012.00,76791494.00,72169226.00,64372598.00,55898597.00,45741890.00,35847197.00,27765513.00,19694610.00,...,35488643.00,26823889.00,20232525.00,14154335.00,9233320.00,5486263.00,2671999.00,NaN,NaN,NaN
Tasa de variación acumulada,5.08,9.86,10.33,10.32,10.19,10.54,11.08,12.19,12.51,13.16,...,9.74,9.45,8.91,10.20,10.96,6.62,5.02,NaN,NaN,NaN
"Negocio, motivos profesionales",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,244325.00,287335.00,463667.00,525253.00,567884.00,152920.00,338706.00,578622.00,520685.00,517288.00,...,303483.00,442129.00,478728.00,459199.00,387761.00,441059.00,347876.00,301888.00,393014.00,469568.00
Tasa de variación anual,7.72,2.61,6.49,-13.43,13.93,-0.54,-0.35,14.28,12.67,24.38,...,-22.95,-1.56,4.43,0.26,-18.07,45.23,21.84,33.18,33.91,10.87
Acumulado en lo que va de año,244325.00,5148452.00,4861117.00,4397450.00,3872197.00,3304313.00,3151393.00,2812687.00,2234065.00,1713379.00,...,2860235.00,2556752.00,2114623.00,1635895.00,1176696.00,788935.00,347876.00,NaN,NaN,NaN
Tasa de variación acumulada,7.72,6.68,6.93,6.98,10.52,9.95,10.52,11.99,11.41,11.03,...,1.36,5.30,6.86,7.59,10.75,33.89,21.84,NaN,NaN,NaN
Otros motivos,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Dato base,700898.00,719521.00,584284.00,640051.00,560130.00,619957.00,618949.00,639267.00,664398.00,737805.00,...,577555.00,519265.00,554236.00,706113.00,492388.00,423403.00,506662.00,579120.00,435490.00,651685.00
Tasa de variación anual,11.61,-4.65,12.76,9.90,25.40,-3.05,12.35,21.12,17.67,18.78,...,27.32,67.55,45.47,48.96,37.29,30.88,46.29,61.09,51.05,62.72
Acumulado en lo que va de año,700898.00,7561833.00,6842312.00,6258028.00,5617976.00,5057847.00,4437889.00,3818941.00,3179674.00,2515276.00,...,3779622.00,3202067.00,2682802.00,2128566.00,1422453.00,930065.00,506662.00,NaN,NaN,NaN
Tasa de variación acumulada,11.61,15.13,17.70,18.18,19.20,18.56,22.37,24.16,24.79,26.81,...,42.78,45.98,42.43,41.67,38.30,38.85,46.29,NaN,NaN,NaN

In [20]:
motivo.to_csv('./data/datos_motivo.csv')